@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oh923d');
  src:  url('../fonts/icomoon.eot?oh923d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oh923d') format('truetype'),
    url('../fonts/icomoon.woff?oh923d') format('woff'),
    url('../fonts/icomoon.svg?oh923d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-figma:before {
  content: "\e900";
  color: #f24e1e;
}

@font-face {
  font-family: 'Uber Text';
  src: url('../fonts/UberMoveText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Text';
  src: url('../fonts/UberMoveText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Move';
  src: url('../fonts/UberMove-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
